body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(248, 246, 246)
}

div,nav,head,body,h1,h2,h3{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3{
    font-size: 24px;
    line-height: 30px;
}

div.mainbody {
    height: 2000px;
}

div.container{
    width: 1200px;
    margin: auto;
}

div.naver{
    background-color: #222;
    border-width: 0;
    width: 100%;
    height: 50px;
    top: 0;
}

ul.naver-left{
    float: left;
}

ul.naver-left li.nav-left-li{
    float: left;
    list-style: none;
}

ul.naver-left li.nav-left-li a{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none;
}

ul.naver-right{
    float: right;
    width: 145px;
    background-color: rgb(100, 99, 99);
    padding: 0;
    padding-top: 5px;
    border-radius: 8px;
}

ul.naver-right li a{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    
}

.read-more {
    text-align: center;
}

.read-more a{
    display: inline-block;
    padding: 12px 40px;
    margin: 30px 0 0px;
    border: 1px solid;
    border-radius: 25px;
    border-color: #E6E6E6;
    background-color: #F3F3F3;
    font-family: "Open Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.7px;
    transition: all 0.2s ease-out;
    color: #4A4A4A;
    text-decoration: none;
}

.read-more a:hover{
    color: rgb(145, 85, 85);
}   

div.self{
    width: 100%;
    height: 500px;
}

div.mainbody div.self p {
    margin: 24px;

}

div.self div.self-left {
    width: 700px;
    height: 500px;
    float: left;
}

div.self div.self-left h1{
    font-size: 50px;
    padding-bottom: 20px;
    margin-bottom: 18px;
    margin-top: 25px;
    margin-left: 13px;
    background: url(../img/index/content_shadow.png) no-repeat bottom center;
}

div.self div.self-left p{
    font-size: 24px;
}

div.self div.self-left div.detail1 {
    width: 300px;
    float: left;
}

div.self div.self-left div.detail2 {
    width: 400px;
    float: left;
}

div.self div.self-right{
    width: 370px;
    float: right;
    padding-left: 30px;
    margin-top: 50px;
}

div.self div.self-right img{
    width: 370px;
    height: 370px;
}


div.mainbody p{
    margin: 10px;
    font-size: 24px;
}
div.mainbody h2{
    margin: 20px;
    margin-bottom: 0;
    font-size: 30px;
}


div.interests {
    width: 640px;
    height: 400px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
}

div.interests div.in-l {
    width: 400px;
    float: left;
}

div.interests div.in-r {
    width: 240px;
    float: right;
    padding-top: 40px;
    margin-bottom: 20px;
}


div.interests div.in-r img {
    width: 200px;
    height: 250px;
    border-radius: 13px;
}

div.learn {
    width: 520px;
    height: 400px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: right;
    margin-bottom: 30px;
}

div.learn div.le-l{
    width: 300px;
    float: left;
}

div.learn div.le-r{
    width: 190px;
    float: right;
    padding-top: 40px;
    margin-bottom: 20px;
}

div.learn div.le-r img {
    width: 170px;
    height: 250px;
    border-radius: 13px;
}

div.travel {
    width: 375px;
    height: 590px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
}

div.travel div.tr-u img{
    width: 334px;
    height: 260px;  
    padding: 20px;  
    border-radius: 30px;
}

div.hometown {
    width: 375px;
    height: 590px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

div.hometown div.ho-u img{
    width: 334px;
    height: 260px;  
    padding: 20px;  
    border-radius: 30px;
}


div.friend{
    width: 374px;
    height: 590px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
}

div.friend div.fr-u img{
    width: 334px;
    height: 260px;  
    padding: 20px;  
    border-radius: 30px;
}

div.relation{
    width: 1195px;
    height: 385px;
    background-color: rgb(231, 228, 228);
    border: 2px solid rgb(168, 164, 164);
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
}

div.relation div.fr-l{
    width: 600px;
    float: left;
}

div.relation div.fr-r{
    width: 500px;
    float: right;
    padding: 20px;
}

div.relation div.fr-r img {
    width: 500px;
    height: 340px;
    border-radius: 20px;
}

div.footer{
    margin-top: 30px;
    height: 200px;
    text-align: center;
    background-color: #CECECE;
    border-bottom: 4px solid rgb(99, 95, 95);
}

div.footer div.fo-1 {
    padding: 20px;
    padding-top: 60px;
}

div.footer div.fo-2 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

div.footer div.fo-1 h3{
    font-size: 24px;
    line-height: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-style: normal;
}